body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #000000;
}

h1 {
  color: #ffffff;
}

.board {
  border-collapse: collapse;
  margin: 3rem auto;
}

.board td {
  height: 100px;
  width: 100px;
  border: 2px solid #ffffff;
  cursor: pointer;
  font-size: 3rem;
}
