body {
  background-color: #9b9b9b;
  color: #ffffff;
}

a {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  text-decoration: none;
  margin-right: 10px;
}

#bleu {
  background-color: #0000ff;
  color: #ffffff;
}
#jaune {
  background-color: #ffff00;
  color: #000000;
}
